.result-container {
  width: 20%;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.description {
  width: 60%;
}

#btn {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}

.btn__r7r7 {
  display: none;
}

.css-q9155n, .header__28Cb {
  display: none;
}