.result-container {
  width: 20%;
}

.container {
  display: flex;
  justify-content: center;
}

.description {
  width: 60%;
}

#btn {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
